@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(70, 70, 70, 1) 100%
  );
}

.project-bg {
  background: linear-gradient(
    90deg,
    rgba(26, 52, 126, 1) 0%,
    rgba(26, 52, 126, 0) 100%
  );
}

.award-bg {
  padding: 50px 0px;
  background-image: url(https://seekright.com/new/images/awards.png);
  background-color: #5d5d5d;
  background-size: cover;
  background-repeat: no-repeat;
}
